@import "../shared.scss";


.benefit-block {
    .benefit-item {
        i {
            color: $green;
        }

        .heading6 {
            color: $white;
        }

        .text-secondary {
            color: $secondary2;
        }
    }
}
