.header {
  width: 100%;
  position: fixed !important;
  z-index: 3;
  background-color: $white-0;
  min-height: 15vh;
  max-height: 20vh;

  .small-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .large-navbar {
    padding-top: 4vh;  
  }

  .navbar-toggler {
    border: none;
    z-index: 1001;
  }

  .side-panel {
    position: fixed;
    top: 0;
    left: -50%; 
    width: 50%; 
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 1000;
    padding: 1rem;
    transition: left 0.3s ease-in-out;

    &.open {
      left: 0; 
    }

    .navbar-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      a {
        color: $secondary-text-color;  
        text-decoration: none;
        font-size: 1.2rem;  
        font-weight: 600;

        &:hover, &.active {
          color: $primary-text-color;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .large-navbar {
      padding-top: 2vh;
    }
    .logo-image {
      width: 60%;
      max-width: 150px;
    }
  }
}
