@import "../variables.scss";

.header {
  width: 100%;
  position: fixed !important;
  z-index: 3;
  background-color: $white-0;
  min-height: 15vh;
  max-height: 20vh;

  @media (max-width: 768px) {
    .small-navbar {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      padding: 0 !important;  
      width: 100% !important;
    }

    .large-navbar {
      padding-top: 2vh;
      justify-content: center !important;
    }

    .navbar-toggler {
      right: 0;
      width: 25% !important;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .logo-image {
      width: 70% !important;
      max-width: 70% !important;
    }

    &.minimized {
      min-height: 15vh !important;
      max-height: 20vh !important;
    }

    .header-links-large{
      display: none !important;
    }
  }

  &.minimized {
    min-height: 10vh;
    max-height: 10vh;
    background-color: $white-0;

    .logo-image {
      height: 7vh;
      max-width: 100px;
    }
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-container {
    width: 50%;
  }

  .large-navbar {
    padding-top: 4vh;
  }

  .side-panel {
    position: fixed;
    top: 0;
    left: -50%; 
    width: 50%;  
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);  
    z-index: 1000;
    padding: 1rem;
    transition: left 0.3s ease-in-out;

    &.open {
      left: 0; 
    }
  }

  .small-navbar {
    position: fixed;
    top: 0;
    height: 4vh;
    min-height: 4vh;
    max-height: 4vh;
    color: $primary-text-color;
    z-index: 999;
    padding-right: 5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $light-gray-1;

    * {
      font-size: 0.7em;
    }

    span,
    a {
      position: relative;
      top: 20%;
      margin-right: 1rem;
    }
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .logo-link {
    border: none !important;
  }

  .nav-link,
  a {
    color: $secondary-text-color;
    padding: 0;
    border-bottom: 2px solid rgba(191, 65, 52, 0);
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 600;

    &:hover,
    &.active {
      color: $primary-text-color;
      border-bottom: 2px solid $primary-red-color;
    }
  }

  .small-link{
    font-size: 1em;
  }
}
