.product-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .slick-slide {
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .slick-slide.slick-center {
    transform: scale(1.3); 
    z-index: 10;
    opacity: 1;
  }

  .slick-slide:not(.slick-center) {
    transform: scale(0.8); 
    opacity: 0.7; 
  }

  .slick-track {
    display: flex;
    will-change: transform;
    animation: slideRight 120s linear infinite;
    transition: transform 0.5s ease;
    height: 100%;
  }

  &:hover .slick-track {
    animation-play-state: paused;
  }

  @keyframes slideRight {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-67.5%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .slick-slider {
    transition: transform 0.5s ease;
    height: 100%;
  }

  .slick-list {
    height: 100%;
  }

  .slick-prev,
  .slick-next {
    z-index: 1;
  }

  img {
    transition: all 0.3s ease-out;
    box-sizing: content-box;
    &:hover {
      scale: 1.05;
    }
  }
}
