@import "./variables.scss";
@import "./globals.scss";
@import "./icomoon.scss";
@import './components/custom-swiper.scss';
@import 'loading.scss';
@import 'globals.scss';
@import './components/modal.scss';
@import './components/footer.scss';
@import './components/product.scss';
@import './components/blog.scss';
@import './components/faqs.scss';
@import 'layout/category-active.scss';
@import 'layout/text-has-line-before.scss';
@import 'layout/collection.scss';
@import 'layout/tab-features.scss';
@import 'layout/banner.scss';
@import 'layout/testimonial.scss';
@import 'layout/instagram.scss';
@import 'layout/benefit.scss';
@import 'layout/newsletter.scss';
@import 'layout/featured-product.scss';
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

html{
    background-color: $white-0;
    scroll-behavior: smooth;
}

.w-48{
    width: 48% !important; 
}

.page-label{
    background-color: $primary-red-color;
    color: $white-0;
    min-height: 8vh;
    max-height: 8vh;
    width: 100%;
    display:flex;
    justify-content: start;
    align-items: center;
    padding-left: 7.5rem;

    &.disabled {
        min-height: 0;
        height: 0;
        max-height: 0;
    }

    h3{
        margin-left: 2rem;
    }
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    color: $light-gray-0;
    position: absolute;
    z-index: 2;

}

.text-black-0{
    color: $black-0 !important;
}

.text-black-1{
    color: $black-1;
}