$white-0: #f2f2f2;
$white-1: #f1f1f1;
$white-2 : #f4f4f4;
$white-2 : #f9f9f9;


$green: #D2EF9A;
$black: #1F1F1F;
$secondary: #696C70;
$secondary2: #A0A0A0;
$white: #ffffff;
$surface: #F7F7F7;
$red: #DB4444;
$purple: #8684D4;
$success: #3DAB25;
$yellow: #ECB018;
$pink: #F4407D;
$line: #E9E9E9;
$outline: rgba(0, 0, 0, 0.15);
$surface1: rgba(255, 255, 255, 0.1);
$surface2: rgba(255, 255, 255, 0.2);

$text-logo-custom-red: rgba(198, 83, 75, 1);
$text-logo-custom-gray: rgba(116, 133, 135, 1);

$black-0: #333333;
$black-1: #3c3c3c;

$light-gray-0: #c7c7c7;
$light-gray-1: #dbdada;
$light-gray-2: #e3e3e3;
$light-gray-3: #ebeaea;

$primary-text-color: $black-0;
$dark-primary-text-color: #f2f2f2;
$secondary-text-color: #808080;
$dark-secondary-text-color: #dbdbdb;

$primary-red-color: rgb(191,65,52);

$primary-color: rgb(191,65,52);
$secondary-color: #2ecc71;
$footer-background-color: #222222;

$primary-font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",
                      "Liberation Sans",Arial,sans-serif,"Apple Color Emoji",
                      "Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$secondary-font-family: "";

$header-links-padding: 16px;