.modal-content {
  border-width: 0;
}

.modal-dialog{
  width: 90% !important;
  max-width: 90% !important;
}

/* .modal-backdrop {
  background-color: darken($gray-900, 5%);

  &.show { opacity: .8; }
} */
